.Item-list {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}

.ItemSummary {
    display:flex;
    flex-direction: column;;
    border:1px solid black;
    border-top-width:0;
    border-radius:5px;
    padding:5px;
    .ItemName {
        flex: 2;
        text-align:left;
        font-weight:bold;
    }
    .ItemRatingCost {
        font-size:0.9em;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &.activeItem {
        background-color:orange;
        border-color:orangered;
    }

    .ItemDetails {
        margin-top:3px;
        font-size: 0.7em;
        display:flex;
        // align-items:center;
        justify-content:space-between;
        .ItemChance {
            flex: 0 0 110px;
            text-align: left;
        }
        .ItemCosts {
            text-align:right;
        }
    }
    &.activeInventor {
        background-color:lightblue;
        border-color:blue;
    }
    &.targetedCost {
        .ItemCost,.ItemCosts {
            color:green;
        }
    }
    &.lineInventor {
        .ItemName {
            color:green;
        }
    }
    &.lineRated {
        .ItemRating,.ItemChance {
            color:green;
        }
    }
    &.lineRated.targetedCost.lineInventor {
        background-color:lightgreen;
    }
    .ItemTargetCost {
        cursor:pointer;
    }
}